/* ======UNIVERSAL====== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 30px; 
}

h1 {
  color: white;
}

.nav {
  display: flex;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-size: 30px;
}

.footer {
  background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px; 
}

.footer-head {
  color: white;
}

.intro {
  background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1642889597/Untitled-1_wycett.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 80px;
  padding-bottom: 600px;
}

